version: "3.6"
services:
  api:
    command: start
    ports:
      - "${API_PORT}:${API_PORT}"
    depends_on:
      - db
    links:
      - db
  db:
    image: postgres:12.2-alpine
    expose:
      - "5432"
    env_file:
      - .env
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - ./data/pg:/var/lib/postgresql/data
    
